#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ { 
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ---------------------------------------------------------------------------------------------------
//            | ^1 |   | ^2 |   | ^3 |   | ^4 |   | ^5 |   | ^6 |   | ^7 |   | ^8 |
// | Q  | W  | E  | R  | T  | Y  | U  | I  | O  | P  | DEL | X/S | | P7 | P8 | P9 | P0 |
//  | A  | S  | D  | F  | G  | H  | J  | K  | L  |                | P4 | P5 | P6 |
//        | Z  | X  | C  | V  | B  | N  | M  |                       | P2 | P3 |
//       |              SPACE               |                          | P1 |
                bindings = <
    &kp N2    &kp M         &kp B     &kp V    &kp X   &kp Z
    &kp N6    &kp N4        &kp K     &kp H    &kp F   &kp S
    &kp N0    &kp N7        &kp SLASH &kp I    &kp U   &kp E
    &kp N8    &kp BACKSPACE &kp O     &kp Y    &kp R   &kp W
    &kp N9    &kp F6        &kp P     &kp F3   &kp T   &kp Q
    &kp F8    &kp F7        &kp F5    &kp F4   &kp F2  &kp F1
    &kp N5    &kp L         &kp J     &kp G    &kp D   &kp A
    &kp N3    &kp N1       &kp SPACE &kp N   &kp C  &kp SPACE
            >;
        };
        lower_layer {
            bindings = <
    &bt BT_SEL 2   &trans       &trans &trans &trans &trans
    &trans         &trans       &trans &trans &trans &trans
    &bt BT_SEL 0   &trans       &trans &trans &trans &trans
    &trans         &bt BT_CLR   &trans &trans &trans &trans
    &trans         &trans       &trans &trans &trans &trans
    &bt BT_CLR_ALL &trans       &trans &trans &trans &trans
    &trans         &trans       &trans &trans &trans &trans
    &trans         &bt BT_SEL 1 &trans &trans &trans &trans
            >;  
        };
    };
};


/* enums to set in sources to filter events in zmk,output-behavior-listener */
#define OUTPUT_SOURCE_LAYER_STATE_CHANGE        1
#define OUTPUT_SOURCE_POSITION_STATE_CHANGE     2
#define OUTPUT_SOURCE_KEYCODE_STATE_CHANGE      3
#define OUTPUT_SOURCE_MOUSE_BUTTON_STATE_CHANGE 4
#define OUTPUT_SOURCE_MOUSE_WHEEL_STATE_CHANGE  5
#define OUTPUT_SOURCE_TRANSPORT                 6

/ {
        /* setup listen to monitor layer_state_change and keycode_state_change */
        erm0_obl {
                compatible = "zmk,output-behavior-listener";

                /* only enable in layer(s) */
                layers = < &default_layer &raise_layer >;

                /* only enable for these subscribed stated event(s) */
                sources = <
                        OUTPUT_SOURCE_LAYER_STATE_CHANGE
                        OUTPUT_SOURCE_KEYCODE_STATE_CHANGE
                        >;

                /* setup output behavior to output two phase vibration or LED animation */
                bindings = < &ob_erm0_in &ob_erm0_out >;
        };

        /* setup TWO phases of vibration output on same ERM device (<&erm0>) */
        /* phase 1: -(delay 1ms)---(vibrate 30ms) */
        /* phase 2: -(delay 133ms)-----------------------(vibrate 10ms) */
        ob_erm0_in: ob_generic_erm0_in {
                compatible = "zmk,output-behavior-generic"; #binding-cells = <0>;
                device = <&erm0>; delay = <1>; time-to-live-ms = <30>;
        };
        ob_erm0_out: ob_generic_erm0_out {
                compatible = "zmk,output-behavior-generic"; #binding-cells = <0>;
                device = <&erm0>; delay = <133>; time-to-live-ms = <10>;
        };

        /* setup behavior for another LRA device, which is droven by DRV2605 module (<&lra0>) */
        ob_lra0: ob_generic_lra0_in {
                compatible = "zmk,output-behavior-generic"; #binding-cells = <0>;
                device = <&lra0>;

                /* force will be convrt to waveformm effect from DRV2605 library */
                /* NOTE: <7> is Soft Bump at 100% */
                force = <7>;
        };

        ob_lra0: ob_generic_lra1_in {
                compatible = "zmk,output-pwm"; #binding-cells = <0>;
                device = <&pwm_led0>;

                /* force will be convrt to waveformm effect from DRV2605 library */
                /* NOTE: <7> is Soft Bump at 100% */
                force = <7>;
        };

        /* setup behavior for PWM device */
        ob_pwm0: ob_generic_pwn0 {
                compatible = "zmk,output-behavior-generic"; #binding-cells = <0>;
                device = <&pwm_led0>;
                
                /* set duty cycle of pwm, max 256 */
                /* pwm duty cycle raise to <180> on key press */
                force = <180>;

                /* enable momentum to trigger on both on all state change */
                momentum;

                /* pwm duty cycle drop to <12> on key release */
                momentum-force = <12>;
        };

        /*** ...and, more user cases on below... ***/

        /* setup listener on enter raise layer */
        erm0_obl__enter_raise_layer {
                compatible = "zmk,output-behavior-listener";
                layers = < &raise_layer >;
                sources = < OUTPUT_SOURCE_LAYER_STATE_CHANGE >;
                bindings = < &ob_erm0_in &ob_erm0_out >;
        };

        /* setup listener on back to default layer from another layer */
        erm0_obl__back_to_default_layer {
                compatible = "zmk,output-behavior-listener";
                layers = < &default_layer >;
                sources = < OUTPUT_SOURCE_LAYER_STATE_CHANGE >;
                
                /* optional, to catch the state becomes negative boolean on state_changed */
                invert-state;
                
                /* optional, specify a layer which is leaving from */
                position = <&raise_layer>;

                bindings = < &ob_erm0_out >;
        };

        /* setup listener on enter raise to Spotlight in macOS */
        kp_spotlight_on_enter_cfg_layer {
                compatible = "zmk,output-behavior-listener";
                layers = <&raise_layer>;
                sources = < OUTPUT_SOURCE_LAYER_STATE_CHANGE >;

                /* to trigger press CMD-SPACE and release after 30ms */
                /* NOTE: tap-ms only affecting 1st zmk behavior binding in list */
                /* NOTE: use macro behavior if you need consequential triggers */
                bindings = < &kp LG(SPACE) >;
                tap-ms = <30>;
        };

        /* setup listener on press key on position 0 */
        erm0_obl__press_position_0 {
                compatible = "zmk,output-behavior-listener";
                layers = < &default_layer >;
                sources = < OUTPUT_SOURCE_POSITION_STATE_CHANGE >;

                /* set position of switch to bind to */
                position = <0>;
                bindings = < &ob_erm0_in >;
        };

        /* setup listener on press keycode 'D' */
        erm0_obl__press_key_code_D {
                compatible = "zmk,output-behavior-listener";
                layers = < &default_layer  >;
                sources = < OUTPUT_SOURCE_KEYCODE_STATE_CHANGE >;

                /* set keycode filter here */
                position = < 0x07 >;
                bindings = < &ob_erm0_in >;
        };

        /* setup listener on press keycode 'Q', and feedback via LRA */
        erm0_obl__press_key_code_Q {
                compatible = "zmk,output-behavior-listener";
                layers = < &default_layer  >;
                sources = < OUTPUT_SOURCE_KEYCODE_STATE_CHANGE >;

                /* set keycode filter here */
                position = < 0x14 >;
                bindings = < &ob_lra0 >;
                
                /* enable to catch all state change that include key press and release */
                /* ensure to stop on-going LRA effect immediately on key released */
                all-state;
        };

        /* setup listener on press keycode 'Q', and feedback via LRA */
        pwm0_obl__press_key_code_P {
                compatible = "zmk,output-behavior-listener";
                layers = < &default_layer >;
                sources = < OUTPUT_SOURCE_KEYCODE_STATE_CHANGE >;

                /* set keycode filter here */
                position = < 0x13 >;
                bindings = < &ob_pwm0 >;
                
                /* enable to catch all state change that include key press and release */
                /* ensure to stop on-going LRA effect immediately on key released */
                all-state;
        };

        /* setup listener on press mouse button 1, and feedback via LRA */
        led1_obl__press_mouse_btn_1 {
                compatible = "zmk,output-behavior-listener";
                layers = < &default_layer> ;
                sources = < OUTPUT_SOURCE_MOUSE_BUTTON_STATE_CHANGE >;

                /* trigger on mouse button 1 status change */
                position = < 1 >;
                bindings = < &ob_pwm0 >;

                /* enable to catch all state change that include key press and release */
                /* ensure to stop on-going LRA effect immediately on key released */
                all-state;
        };

        /* setup listener on mouse wheel input, and feedback via ERM */
        /* usually, no feedback from scrolling on touchpad or trackball, this config adds haptic feedback to emulate notchy bump from physical scroll wheel */
        led1_obl__press_mouse_whl_1 {
                compatible = "zmk,output-behavior-listener";
                layers = < &default_layer >;
                /* trigger on mouse wheel status change */
                sources = < OUTPUT_SOURCE_MOUSE_WHEEL_STATE_CHANGE >;
                bindings = < &ob_erm0_in >;
        };

        /* setup listener to read HID report from host app, and reflect volume value on motorized fader */
        fader_transport {
                compatible = "zmk,output-behavior-listener";
                layers = <&default_layer>;
                /* trigger on RAW HID report */
                sources = <OUTPUT_SOURCE_TRANSPORT>;
                bindings = <&ob_fader_motor>;
        };
        ob_fader_motor: ob_fader_motor {
                compatible = "zmk,output-behavior-generic";
                #binding-cells = <0>;
                device = <&fader_motor0>;
                /* mark as positional-force, prefer the `force` from event, instead of static value from this config node */
                positional;
        };

        keymap {
                compatible = "zmk,keymap";
                default_layer {
                        bindings = <
                                ... &mo RAISE ...
                        >;
                };
                raise_layer {
                        bindings = <
                                ... &trans ...
                        >;
                };
       };
};